html,body{
    background-image:url("img/bg5.jpeg");
    bagbackground: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    margin: 0px;   
    font-family:Bebas neue, sans-serif;
    color:#362020;
}
.profile{
    
    justify-content:center;
    display:flex;
    align-items:center;
    height:300px;    
    margin:20px;
    padding:0px; 
            
}   
#prof{    
    border-radius:75px;
    border:5px solid #692712;
    width: 500px;
}
h1{
    text-align:center;
    font-size:50px;
    
}
.p1{
    text-align:center;
    font-size:20px;
    
}
h2{
    font-size:40px;
}
.char{
    font-size:30px;
}
.group{
    justify-content:center;
    display:flex;
    align-items:center;
    height: 300px;        
    padding:0px; 
    margin:10px;        
}
#grup{
    width:950px;
    border-radius: 80px;
    border:5px solid #ff7e15d6;    
}
h3{
    text-align:center;
    font-size:50px;
}
.tobio a{
    width:100px;
    border-radius: 30px;
    border:2px solid #ffd26a; 
}
.tobio img{
    width:100px;
    border-radius: 30px;
    border:2px solid #ffd26a;       
}
#nishinoya{
    width:100px;
    border-radius: 30px;
    border:2px solid #ffd26a;
    color: black;
}

footer{
    margin-bottom:0px;
    padding:0px;    
    background-color:#2c2c2ccf;
    margin:0px; 
    color: #d7c5a1; 
    text-align:center;      
}
@media screen and (max-width:768px){
    .profile{
        flex-direction: column;

    }
    .p1{
        flex-direction: column;
        
    }
    .char{
        flex-direction: column;
        
    }
    .group{
        flex-direction: column;
        
    }
    .tobio{
        flex-direction: column;
        
    }
}

